.App {
  text-align: center;
}

/****************************************************************/
.title-image {
  background-color: rgba(10, 46, 46, 0.8);
  max-width: 80vw; 
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  border: 5px ridge #e29506;
  border-radius: 15px;
}

.movie-title {
  max-height: 4rem;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  margin-top: 4rem;
  color: #e89c11;
}

.movie-img {
  border: 4px inset #e29506;
  width: 350px;
  margin: 1rem;
}

.movie-synop {
  max-width: 50rem;
  color: white;
  padding: 10px;
}

/****************************************************************/
.star-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

/* Hiding the radio buttons behind the stars*/
.radio-star-btn {
  display: none;
}

/****************************************************************/
.review-form {
  background-color: #1f1e1e;
  border: 4px outset #e29506;
  border-radius: 5%;
  color: orange;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: auto;
  padding: 10px;
}

.review-form label {
  display: flex;
  justify-content: flex-start;
}

.input-fields {
  display: flex;
  justify-content: left;
}


#headlineInput {
  max-width: 60rem;
}

#reviewBodyInput {

}




/* .review-list {
  border: 3px solid blue;
}

.review-data {
  border: 3px groove lightpink;
}

.movieList-data {
  border: 3px solid aquamarine;
} */
