.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.star-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

/* Hiding the radio buttons behind the stars*/
.radio-star-btn {
  display: none;
}

.review-form {
  /* background-image: url('https://cdn.wallpapersafari.com/1/16/QY5WwP.png'); */
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: auto;
  padding: 10px;
  border: 3px double red;
}

.review-form label {
  display: flex;
  justify-content: left;
  padding: 5px;
  margin-right: 5px;
  border: 3px solid yellow;
  color: white;
}

.review-form input {
  margin-left: 10px;
}

#reviewBody {
  background-color: white;
}

.review-form h1 {
  border: 3px solid red;
}

.review-list {
  border: 3px dotted blue;
}

.review-data {
  border: 3px groove lightpink;
}

.movie-data {
  border: 3px groove cyan;
}

.movieList-data {
  border: 3px solid aquamarine;
}
